<div class="section mg-50">
    <div class="header-1">
        <div class="row">

            <div class="col-md-7 p-0">
                <div class="left-data">
                    <p class="data">اتصل بنا</p>
                    <p class="data">english</p>
                    <p class="data-2">صحتي للاطباء</p>
                    <img class="profile-img" src="../../../../assets/img/blue-profile.svg">
                    <img src="../../../../assets/img/blue-notification.svg">
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-data">
                    <p class="advice">Advice</p>
                </div>
            </div>
        </div>
    </div>

    <div class="direction">
        <div class="row header">
            <div class="col-md-4 ">
                <div class="details">
                    <p class="header">كيف تطلب دوائك من ؟</p>
                    <div class="inner-data">
                        <img src="../../../../assets/img/notes.svg">
                        <p class="small-header">باستخدام المعلومات والروشتة المقدمة سنبحث عن الدواء الخاص بك</p>
                    </div>
                    <div class="inner-data">
                        <img src="../../../../assets/img/correct.svg">
                        <p class="small-header"> سنرسل لك رمز تحقيق عبر رسالة نصية لتاكيد هويتك</p>
                    </div>
                    <div class="inner-data">
                        <img src="../../../../assets/img/notes.svg">
                        <p class="small-header"> نتحقق من التأمين الخاص بك لنعرض لك افضل سعر متاح لك</p>
                    </div>
                    <div class="inner-data">
                        <img src="../../../../assets/img/deliver.svg">
                        <p class="small-header"> يصلك الدواء لحد باب البيت</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="details">
                    <p class="header align">ادخل بياناتك</p>
                    <div class="p-135">
                        <p class="label">الاسم</p>
                        <mat-form-field class="mb-14 " appearance="fill">
                            <!-- <mat-label>الاسم</mat-label> -->
                            <input matInput placeholder="هاجر الحديدي توفيق" />

                        </mat-form-field>
                        <p class="label">رقم الهاتف</p>
                        <mat-form-field class="mb-14" appearance="fill">
                            <!-- <mat-label>الاسم</mat-label> -->
                            <input matInput placeholder=" 01154785594" />

                        </mat-form-field>
                        <p class="label">العنوان</p>
                        <mat-form-field class="mb-14" appearance="fill">
                            <input matInput placeholder=" تحديد موقعي الحالي" />

                        </mat-form-field>
                        <div class="small-input">

                            <div>
                                <p class="label"> المحافظة </p>
                                <mat-form-field class="mb-14 " appearance="fill">
                                    <mat-select placeholder="اختر اسم المحافظة">
                                        <mat-option value="Giza">Giza</mat-option>
                                        <mat-option value="Alex">Alex</mat-option>


                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="mg-r-40">
                                <p class="label"> المدينة </p>
                                <mat-form-field class="mb-14 " appearance="fill">
                                    <mat-select placeholder="  اختر اسم المدينة">
                                        <mat-option value="Giza">Giza</mat-option>
                                        <mat-option value="Alex">Alex</mat-option>


                                    </mat-select>
                                </mat-form-field>
                            </div>


                        </div>
                        <div class="small-input">

                            <div>
                                <p class="label">المنطقة أو الحي</p>
                                <mat-form-field class="mb-14 " appearance="fill">
                                    <!-- <mat-label>الاسم</mat-label> -->
                                    <input matInput placeholder=" تحديد موقعي الحالي" />

                                </mat-form-field>
                            </div>
                            <div class="mg-r-40">
                                <p class="label"> الشارع </p>
                                <mat-form-field class="mb-14 " appearance="fill">
                                    <!-- <mat-label>الاسم</mat-label> -->
                                    <input matInput placeholder=" ادخل اسم الشارع  " />

                                </mat-form-field>
                            </div>


                        </div>
                        <div></div>
                        <label id="example-radio-group-label">هل لديك اشتراك في تأمين صحي ؟</label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button class="example-radio-button" value="نعم">
                                نعم </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="لا">
                                لا </mat-radio-button>
                        </mat-radio-group>
                        <div class="align">
                            <button class="button" mat-button>التالي</button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="conclusion">
        <div class="row">
            <div class="col-md-12">
                <div class="align">
                    <p class="data"> تواصل معنا واستلم دوائك لحد باب البيت</p>
                    <button class="button" mat-button>تواصل معنا</button>

                </div>
            </div>

        </div>
    </div>



    <div class="display-footer">
        <app-page-footer></app-page-footer>
    </div>
</div>