.direction{
    direction: rtl;
    background-color: #0071B7;
    display: flex;
    width: 93%;
    padding: 22px 22px;
    /* margin-left: 8px; */
    margin: 0 10px;
    .advice{
        width: 15%;
        color: #FFFFFF;
        font-family: Cairo-Bold;
    margin-right: 50px;
    font-size: 16px;
    }
    .info{
        width: 8%;
        .learn{
            color: #FFFFFF;
            font-family: Cairo-Regular;
        // margin-right: 50px;
        font-size: 16px;
        }
        .h2-learn{
            color: #FFFFFF;
            font-family: Cairo-Regular;
         font-size: 12px;       
          }

        
    }
    .help{
        width: 14%;
        .h2-help{
            color: #FFFFFF;
            font-family: Cairo-Regular;
         font-size: 12px;       
          }
        .number{
            color: #FFFFFF;
            font-family: Cairo-Bold;
        font-size: 16px; 
         }
         .help-1{
            color: #FFFFFF;
            font-family: Cairo-Regular;
         font-size: 16px; 
         }
    }
    .about{
        width: 15%;
        margin-right: 60px;
        .about-header{
            color: #FFFFFF;
            font-family: Cairo-Regular;
        // margin-right: 50px;
        font-size: 16px;
        }
        .h2-about{
            color: #FFFFFF;
            font-family: Cairo-Regular;
         font-size: 12px;       
          }
    }
    .img{
        width: 26%;
        color: #FFFFFF;
        font-family: Cairo-Regular;
        font-size: 12px;
        .mg-l-20{
            margin-left: 20px;
        }
        .display{
            display: flex;
        }
        .heart-img{
            margin-top: -7px;
        }
    }
}