
<div class="row">
    <div class="col-md-12">
        <div class="direction">
            <div class="advice">
                <p> Advice</p>
            </div>
            <div class="info">
                <p class="learn">تعلم</p>
                <p class="h2-learn">تأهيل</p>
                <p class="h2-learn">تأهيل</p>
                <p class="h2-learn">تأهيل</p>
                <p class="h2-learn">تأهيل</p>
            </div>
            <div class="help">
                <p class="help-1">هل تريد مساعدة؟</p>
                <p class="number">56418</p>
                <p class="h2-help">نحن في خدمتكم 7 أيام في الأسبوع لمدة 24 ساعة</p>

            </div>
            <div class="about">
                <p class="about-header">عنا</p>
                <p class="h2-about">عن صحتي</p>
                <p class="h2-about">المدونة</p>
                <p class="h2-about">اتصل بنا</p>
            </div>
            <div class="img">
                <img class="mg-l-20" src="../../../../assets/img/youtube .svg">
                <img class="mg-l-20" src="../../../../assets/img/youtube .svg">

                <img class="mg-l-20" src="../../../../assets/img/youtube .svg">

                <img class="mg-l-20" src="../../../../assets/img/youtube .svg">
                <div class="display"><p>© 2021 جميع الحقوق محفوظة</p>
                    <p>صمم بـــ </p>
                    <img class="heart-img"  src="../../../../assets/img/Shape.svg">
                    <p> في Innovalz </p></div>

            </div>
        </div>
    </div>
</div>