<!-- <app-page-header></app-page-header> -->

<div class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="doctor-type">
                <p class="headeer-data">احجز موعدًا للاستشارة في العيادة</p>
                <p class="header-2">ابحث عن أطباء ذوي خبرة في جميع التخصصات</p>
                <div class="display-card">
                    <div class="mg-l-10">
                        <img src="../../../../assets/img/first-img.png">
                        <p class="header">طبيب أسنان</p>
                        <p class="defination">حدد موعدا لفحص الاسنان</p>
                    </div>
                    <div class="mg-l-10">
                        <img src="../../../../assets/img/second-img.png">
                        <p class="header">طبيب نسائي </p>
                        <p class="defination">حددي موعدا للاطمئنان علي طفلك</p>
                    </div>
                    <div class="mg-l-10">
                        <img src="../../../../assets/img/second-img.png">
                        <p class="header">طبيب جلدية </p>
                        <p class="defination">حدد موعدا لفحص الاسنان</p>
                    </div>
                    <div class="mg-l-10">
                        <img src="../../../../assets/img/first-img.png">
                        <p class="header">أخصائي علاج طبيعي </p>
                        <p class="defination">حدد موعدا لفحص الاسنان</p>
                    </div>
                    <div class="mg-l">
                        <img src="../../../../assets/img/fourth.png">
                        <p class="header">طبيب أطفال </p>
                        <p class="defination">حدد موعدا لفحص الاسنان</p>
                    </div>

                </div>
            </div>
            <div class="search">
                <div class="search-div-1">
                    <img src="../../../../assets/img/search-1.png">
                    <p class="h1">ابحث عن طبيب بالقرب منك</p>
                    <p class="h2">ابحث عن أطباء ذوي خبرة في جميع التخصصات</p>
                    <button class="button" mat-button>احجز الآن</button>

                </div>
                <div class="search-div-1">
                    <img src="../../../../assets/img/search-2.png">
                    <p class="h1">ابحث عن طبيب بالقرب منك</p>
                    <p class="h2">ابحث عن أطباء ذوي خبرة في جميع التخصصات</p>
                    <button class="button" mat-button>اطلب استشارة</button>

                </div>
            </div>
            <div class="doctor-type">
                <p class="headeer-data">استشر كبار الأطباء عبر الإنترنت لأي مشكلة صحية</p>
                <p class="header-2">استشارات خاصة عبر الإنترنت مع أطباء معتمدين من جميع المتخصصين</p>
                <div class="display-card">
                    <div class="small-div ">
                        <div>
                            <img class="first-img" src="../../../../assets/img/dermatology.svg"></div>
                        <div>
                            <p class="specialist">جلدية</p>
                            <p class="add-help">اطلب استشارة</p>
                        </div>

                    </div>
                    <div class="small-div ">
                        <div> <img class="first-img" src="../../../../assets/img/eye.svg">
                        </div>
                        <div>
                            <p class="specialist">عيون</p>
                            <p class="add-help">اطلب استشارة</p>
                        </div>

                    </div>
                    <div class="small-div ">
                        <div>
                            <img class="second-img" src="../../../../assets/img/boy.svg">
                        </div>
                        <div>
                            <p class="specialist">اطفال</p>
                            <p class="add-help">اطلب استشارة</p>
                        </div>
                    </div>
                    <div class="small-div mg-l">
                        <div>
                            <img class=" second-img" src="../../../../assets/img/heart.svg">
                        </div>
                        <div>
                            <p class="specialist">قلب وأوعية دموية</p>
                            <p class="add-help">اطلب استشارة</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="doctor-type mb-100">
                <p class="headeer-data align">لماذا نحن ؟</p>
                <!-- <p class="header-2">استشارات خاصة عبر الإنترنت مع أطباء معتمدين من جميع المتخصصين</p> -->
                <div class="display-card">
                    <div class="third-div ">
                        <div class="circle">
                        </div>
                        <p class="header">أحدث التقنيات</p>
                        <p class="defination">الاستفادة من التكنولوجيا الرقمية للاستخدام الأمثل للاستخدام الأمثل لقدرة
                            المزود المتاح</p>

                    </div>
                    <div class="third-div ">
                        <div class="circle">
                        </div>
                        <p class="header">أسعار معقولة في متناول اليد </p>
                        <p class="defination">الاستفادة من التكنولوجيا الرقمية للاستخدام الأمثل للاستخدام الأمثل لقدرة
                            المزود المتاح</p>

                    </div>
                    <div class="third-div ">
                        <div class="circle">
                        </div>
                        <p class="header">الرعاية بالجودة </p>
                        <p class="defination">الاستفادة من التكنولوجيا الرقمية للاستخدام الأمثل للاستخدام الأمثل لقدرة
                            المزود المتاح</p>

                    </div>



                </div>
            </div>
            <div class="doctor-type">
                <div class="display-card">
                    <div class="searching">
                        <div class="seatch-info">
                            <p class="header"> حمّل تطبيق ADVICE</p>
                            <p class="defination">قارن، اختار، و احجز. تابع مواعيدك بكل سهولة، قيّم زيارتك للدكتور،
                                واطلب أدويتك دلوقتي.</p>
                            <div class="search-button">
                                <div class="first-div">
                                    <p class="first-div-info">تطبيقات جوجل</p>
                                    <img class="first-div-img" src="../../../../assets/img/google.svg">
                                </div>
                                <div class="first-div">
                                    <p class="first-div-info"> متجر التطبيقات</p>
                                    <img class="second-div-img" src="../../../../assets/img/Apple Logo.svg">
                                </div>

                            </div>
                        </div>

                        <img class="search-img-2" src="../../../../assets/img/search in2.png">

                        <img class="search-img" src="../../../../assets/img/search.png">

                    </div>



                </div>
            </div>
        </div>
    </div>
<app-page-footer></app-page-footer>
</div>
