<!-- <div class="background-header">
</div> -->
<!-- <div class="overflow"> -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="background-header" [style.background-image]="'url(../../../../assets/img/header-background.png)'">
        <div class="info">
            <div class="left-data">
            <p class="data">اتصل بنا</p>
            <p class="data">english</p>
            <p class="data-2">صحتي للاطباء</p>
            <img class="profile-img" src="../../../../assets/img/profile.svg">
            <img src="../../../../assets/img/notification.svg">
        </div>
        <div class="right-data">  
              <p class="advice">Advice</p>
        </div>
        
        </div>
    </div>
    </div>
</div>

<!-- </div> -->