.image-size{
    width: 100%;
    position: relative;
}
    .info{
        display: flex;
        width: 100%;
        padding: 0 80px;
        position: absolute;
        top: 5%;
        left: 5%;
        direction: ltr;
        .left-data{
            display: flex;
            width: 50%;
            .data-2{
                font-size: 18px;
                font-family: Cairo-Bold;
                color:#FFFFFF ;
                margin-right: 16px;
        
            }
            .data{
                font-size: 18px;
                font-family: Cairo-Bold;
                color:#FFFFFF ;
        
            }
            .data::after { 
                content: "|";
                margin: 0 8px;    
          }
          .profile-img{
              margin-right: 10px;
              margin-top: -15px
          }
          p{
              padding: 0 !important;
          }
        }
        .right-data{
            float: right;
            width: 30%;
            .advice{
                float: right;
                font-size: 24px;
                font-family: Cairo-Bold;
                color:#FFFFFF ;
            }
        }
            }
.center-data{
    position: absolute;
    top: 43%;
    left: 27%;
    text-align: center;
}
    .info-data{
        font-size: 32px;
        font-family: Cairo-Bold;
        color:#FFFFFF ;
        margin-bottom: 25px;
    
}
.small-text{
    font-size: 20px;
    font-family: Cairo-Regular;
    color:#FFFFFF ;
}
.card{
    width: 70%;
    position: absolute;
    top: 56%;
    /* left: 27%; */
    text-align: center;
    background-color: #FFFFFF;
    right: 16%;

    .display{
        display: flex;
        flex-direction: column;
        .display-info{
            display: flex;
        
        .info-one{
            width: 33%;
            background-color: #F5AA4B;
            padding: 10px;
            font-size: 20px;
            font-family: Cairo-Bold;
            color:#FFFFFF ;
            margin-top: -1%;
        }
        .info-two{
            background-color:#F4F5F8;
            width: 33%;
            padding: 10px;
            border-left: 1px solid #dddfe2;
            font-size: 20px;
            font-family: Cairo-Bold;
            color:#0071B7 ;
        }
        .info-three{
            background-color: #F4F5F8;
            width: 33%;
            padding: 10px;
            font-size: 20px;
            font-family: Cairo-Bold;
            color:#0071B7 ;
        }
        }
        .display-input{
            display: flex;
            padding: 20px 8px 40px 0;
            .input-size{
                width: 24%;
                margin-left: 10px;
            }
            .label{
                text-align: initial;
                color: #0071B7;
                font-size: 16px;
                font-family: Cairo-Bold;
            }
            .img-size{
                width: 8%;
                img{
                    width: 60%;
                    margin-top: 31px; 
                }
            }
            

        }
    }
    
}


