<!-- <div class="background-header">
</div> -->
<!-- <div class="overflow"> -->
<div class="row">
    <div class="col-md-12">
        <img class="image-size" src="../../../../assets/img/header-background.png">
        <div class="info">
            <div class="left-data">
                <p class="data">اتصل بنا</p>
                <p class="data">english</p>
                <p class="data-2">صحتي للاطباء</p>
                <img class="profile-img" src="../../../../assets/img/profile.svg">
                <img class="profile-img" src="../../../../assets/img/notification.svg">
            </div>
            <div class="right-data">
                <p class="advice">Advice</p>
            </div>
        </div>
        <div class="center-data">
            <p class="info-data">رعاية صحية لحياة أفضل ليك</p>
            <p class="small-text">رعاية صحية لحياة أفضل ليك رعاية صحية لحياة أفضل ليك رعاية صحية لحياة أفضل ليك</p>
        </div>
        <div class="card">
            <div class="display">
                <div class="display-info">
                    <p class="info-one">احجز دكتور</p>
                    <p class="info-two">استشر طبيبك</p>
                    <p class="info-three">اطلب دوائك</p>
                </div>
                <div class="display-input">
                    <div class="input-size">
                    <p class="label">التخصص</p>
                    <mat-form-field  appearance="fill">
                        <mat-select placeholder="اخترالتخصص  ">
                            <mat-option value="Dentist">Dentist </mat-option>
                            <mat-option value="General Surgeon">General Surgeon</mat-option>


                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="input-size">
                    <p class="label">المحافظة</p>
                    <mat-form-field  appearance="fill">
                        <mat-select placeholder="اختر  المحافظة">
                            <mat-option value="Giza">Giza</mat-option>
                            <mat-option value="Alex">Alex</mat-option>


                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="input-size">
                    <p class="label">المنطقة</p>
                    <mat-form-field class="mb-14 " appearance="fill">
                        <mat-select placeholder=" اخترالمنطقة ">
                            <mat-option value="The Red Sea">The Red Sea</mat-option>
                            <mat-option value="The Nile Delta">The Nile Delta</mat-option>


                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="input-size">
                    <p class="label">اسم الطبيب</p>
                    <mat-form-field class="mb-14 " appearance="fill">
                        <!-- <mat-label>الاسم</mat-label> -->
                        <input matInput placeholder="ادخل اسم الطبيب او المستشفى  " />

                    </mat-form-field>
                </div>
                <div class="img-size">
                    <img src="../../../../assets/img/search.svg">
                </div>
                </div>
            </div>
        </div>
    </div>